$basefont: "PTSans";

$firstAcentColor: #5eb083;
$secondAcentColor: #ffbb8a;

$titleTextColor: #32333d;
$textColor: #5b6574;

$footerColor: #2a3034;
$backToStartBtnBgColor: #272a2d;

$basePadding: 15px;

$mobileWPSize: 360px;
$mobileContentSize: 300px;

$PcWPSize: 1920px;
$PcContentSize: 1420px;
