@use "sass:math";

@import "base";
@import "fonts";
@import "normalize";

@import "components/_header";
body {
  font-family: $basefont;
  font-size: 20px;
}

.container {
  padding: 0 $basePadding;
}

[class*="__container"] {
  margin: 0 auto;
}
